@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>The Warehouse Management System (WMS) is the number one solution for managing
     your warehouse logistics. It is currently in use by Lego Netherlands.</p>
