@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="jumbotron">
        <h1>Warehouse Management System</h1>
        <p class="lead">WMS is the perfect solution for the management of your warehouse logistics!</p>
        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Welcome!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia est nunc,
                quis vestibulum lectus iaculis sit amet. Ut lobortis odio diam, dapibus mattis nunc
                dignissim in. Donec eu ante tellus. Donec a rhoncus tellus. Duis tempor porta egestas.
                Ut nulla diam, porta quis accumsan eu, pharetra quis lacus. Duis in felis vel leo
                molestie sodales. Donec lorem nibh, bibendum id arcu nec, vestibulum vehicula dolor.
                Suspendisse libero libero, dapibus sed sollicitudin ac, molestie ac magna. Ut sit amet
                blandit est. Praesent ac elit elit. Pellentesque euismod, nunc eget condimentum luctus,
                est augue consequat sem, sed egestas risus mauris sed libero. Duis varius orci quam, eu
                semper nunc ultricies efficitur. Etiam nibh ligula, porttitor facilisis laoreet lacinia,
                ornare non leo. Vivamus eget sem congue, pellentesque nisl in, cursus mi.</p>

            <p>Mauris vulputate, nunc a eleifend facilisis, urna eros ultricies arcu, at rhoncus
                diam felis nec libero. Pellentesque neque lectus, sagittis sit amet ante eget,
                vestibulum imperdiet massa. Fusce non luctus lectus. Suspendisse consequat pretium
                pretium. Sed tempus maximus ligula at mattis. Proin volutpat rhoncus quam et suscipit.
             In vitae convallis dolor.</p>
        </div>

        <div class="col-md-6">
            <h3>&nbsp;</h3>
            <img src="../../Content/Warehouse.jpg" alt="Warenhuis" style="width: 450px; height: 290px"/>
        </div>
    </div>
</div>

@{/*}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
*/}